html
{
  font-family: Roboto;
  font-size: 80%;
}

#input
{
  width: 100%;
  height: 100px;
  border: 1px solid #66F;
  padding: 0;
}

#emoticonManager
{
  background-color: #FFF;
  position: fixed;
  right: 225px;
  bottom: 0px;
  display: none;
  z-index: 9001;
  width: 800px;
  height: 600px;
  resize: both;
}

.tabHeader
{
  width: 100%;
  max-height: 20px;
  height: 20px;
  margin: 0;
  background-color: #66F;
  line-height: 20px;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  top: -20px;
}

.tabHeaderButton, .tabButton
{
  position: relative;
  width: 14px;
  height: 20px;
  display: inline-block;
  background-color: none;
  color: #FFF;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  cursor: pointer;
  margin: 0 0 0 2px;
  top: -1px;
}

.tabButton
{
  width: 16px;
  float: right;
  font-size: 14px;
}

.tabHeaderButton:hover, .tabButton:hover
{
  color: #66F;
  background-color: #FFF;
}

.tab .tabHeaderButton.activeOnly
{
  display: none;
}

.tab.active .tabHeaderButton.activeOnly
{
  display: inline-block;
}

.tab.active .tabHeaderButton.inactiveOnly
{
  display: none;
}

.tab.active .tabHeaderButton
{
  color: #66F;
  background-color: #FFF;
}

.tab.active .tabHeaderButton:hover
{
  color: #FFF;
  background-color: #66F;
}

.tab
{
  position:relative;
  padding: 0 4px 0 4px;
  border-style: solid;
  border-color: #66F;
  border-width: 0 1px 1px 0;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  background-color: #66F;
  color: #FFF;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
}

.tabAlias
{
  position: relative;
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  display: inline-block;
  float: left;
}

.tab:hover .tabAlias
{
  text-decoration: underline;
}

.tab.active
{
  border-width: 0 1px 0 0;
  color: #66F;
  background-color: #FFF;
}

.tabPage
{
  background-color: #FFF;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
  top: -20px;
}

.emoticonEntry
{
  position: relative;
  width: 75px;
  height: 75px;
  margin: 2px 0 0 2px;
  display: inline-block;
}

.emoticonControls
{
  position:absolute;
  display: none;
  top: 0;
  right: 0;
  height: 20px;
  z-index: 1;
}

.emoticonControlsButton
{
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #FFF;
  opacity: 0.5;
  color: #000;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  cursor: pointer;
}

.emoticonControlsButton:hover
{
  background-color: #66F;
  color: #FFF;
  opacity: 1;
}

.emoticonEntry:hover .emoticonControls
{
  display: block;
}

.emoticonEntry:hover
{
  border: 2px solid #66F;
  box-sizing: border-box;
}

.emoticonEntry:active
{
  border: 2px solid #FF6;
  box-sizing: border-box;
}

.emoticonEntry.selected
{
  border: 2px solid #6A6;
  box-sizing: border-box;
}

.emoticonEntryImage
{
  padding: 0;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 0;
}

#soundsTable, #emojiTable
{
	width: 600px;
	height: 400px;
	position: fixed;
	right: 225px;
	bottom: 0px;
	background-color: #FFF;
	z-index: 9001;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
}

.soundEntry, .emojiEntry
{
	cursor: pointer;
	padding: 4px;
	border: 1px solid #666;
    box-sizing: border-box;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	line-height: 20px;
}

.emojiEntry
{
	width: 192px;
}